.artistsBackgroundPosition {
    padding: 20px 10px;
    display: block;
    text-align: center;
    width: 100%;
    overflow: scroll;
}

.artistsBackground {
    background-image: url('../images/artistsBackground2.jpg');
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 700px;
    width: auto;
    background-size: cover;
    position: relative;

    // &:before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     background-image: linear-gradient(to bottom right, $colourLightOrange, $colourRed);
    //     opacity: .6;
    // }
}

.artistList {
    display: block;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
}

.artists {
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex; 
    justify-content: center;
}

.buttonStyleThree {
    height: 75px;
    width: 350px;
    padding: 10px;
    background: $colourLightOrange;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: auto;
    font-size: $fontSizeLarge;
    font-weight: bolder;
    text-decoration: none;
    color: $colourGreen;
    border-radius: 5px;
}

.buttonStyleThree a {
    width: auto;
    font-size: $fontSizeLarge;
    text-decoration: none;
    color: $colourGreen;
}