// GLOBAL STYLES

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', arial, sans-serif;
    color: $colourGreen;
    a{
        color: $colourGreen;
    }

    a:visited {
        color: $colourGreen;
    }

    a:hover {
        color: $colourGreen;
    }

}

.landingContainer {
    padding: 20px 10px 20px 10px;
}

.stagesContainer {
    padding: 20px 10px 20px 10px;
}

.artistsContainer {
    padding: 20px 10px 20px 10px;
}

.stageContainer {
    padding: 20px 10px 20px 10px;
}

.artistBioContainer {
    padding: 20px 10px 20px 10px;
}