@font-face {
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto&display=swap");
}
.banner {
  height: 10vh;
  background: #F2784B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navLink {
  display: flex;
  justify-content: flex-start;
  fill: #516D73;
}

.navLink img {
  width: 7vh;
  height: auto;
}

.navBurger {
  display: flex;
  justify-content: flex-end;
}

.navBurger img {
  width: 5vh;
  height: auto;
}

.landingBanner {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 520px;
  font-family: "Roboto", arial, sans-serif;
  color: #516D73;
}

.landingContainer {
  padding: 20px 10px 20px 10px;
}

.stagesContainer {
  padding: 20px 10px 20px 10px;
}

.artistsContainer {
  padding: 20px 10px 20px 10px;
}

.stageContainer {
  padding: 20px 10px 20px 10px;
}

.artistBioContainer {
  padding: 20px 10px 20px 10px;
}

.landingBackgroundPosition {
  margin: 20px 10px 20px 10px;
  padding: 20px 10px;
  display: block;
  text-align: center;
  width: 100%;
  overflow: scroll;
}

.landingBackground {
  background-image: url("../images/landingBackground2.jpg");
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  width: auto;
  height: 50vh;
  background-size: cover;
  padding: 10px;
  position: relative;
}

.logoText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F2BC57;
  font-size: 15vh;
  font-weight: bolder;
  font-family: "Montserrat", arial, sans-serif;
  margin-top: 15vh;
}

.linkStyle {
  text-decoration: none;
  text-align: center;
}

.buttonStyleOne {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  font-size: 25px;
  font-weight: bolder;
  color: #516D73;
}

.buttonStyleOne1 {
  background: #F29D52;
}

.buttonStyleOne2 {
  background: #F2784B;
}

.buttonStyleOne a {
  width: auto;
  font-size: 25px;
  text-decoration: none;
  color: #516D73;
}

.stagesBackgroundPosition {
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.stagesBackground {
  background-image: url("../images/stagesBackground2.jpg");
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 70vh;
  width: auto;
  background-size: cover;
  position: relative;
}

.gridPosition {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  padding: 0;
}

.stagesGrid {
  display: grid;
  grid-template-rows: 200px 160px;
  grid-template-columns: repeat(2, 200px);
  grid-gap: 20px;
}

.duttyDisco {
  grid-column: 1/2;
  grid-row: 1/2;
}

.bigLogger {
  grid-column: 2/3;
  grid-row: 1/2;
}

.cathedral {
  grid-column: 1/2;
  grid-row: 2/3;
}

.smoothMoovers {
  grid-column: 2/3;
  grid-row: 2/3;
}

.buttonStyleTwo {
  height: 175px;
  width: 175px;
  padding: 50px;
  background: #F29D52;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  color: #516D73;
  width: auto;
  text-decoration: none;
  border-radius: 5px;
}

.stagesLink {
  display: block;
  text-align: center;
}

.buttonStyleTwo a {
  width: auto;
  font-size: 25px;
  text-decoration: none;
  color: #516D73;
}

.artistsBackgroundPosition {
  padding: 20px 10px;
  display: block;
  text-align: center;
  width: 100%;
  overflow: scroll;
}

.artistsBackground {
  background-image: url("../images/artistsBackground2.jpg");
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 70vh;
  width: auto;
  background-size: cover;
  position: relative;
}

.artistList {
  display: block;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
}

.artists {
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.buttonStyleThree {
  height: 75px;
  width: 350px;
  padding: 10px;
  background: #F29D52;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: auto;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  color: #516D73;
  border-radius: 5px;
}

.buttonStyleThree a {
  width: auto;
  font-size: 25px;
  text-decoration: none;
  color: #516D73;
}

.stageBackgroundPosition {
  padding: 20px 10px;
  display: block;
  text-align: center;
  width: 100%;
  overflow: scroll;
}

.stageBackground {
  background-image: url("../images/performancesBackground2.jpg");
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 70vh;
  width: 520px;
  background-size: cover;
  position: relative;
}

.performanceWrapper {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 10px;
}

.artist {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 20px;
}

.timeButtonTime {
  width: auto;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #516D73;
}

.timeButtonArtist {
  width: auto;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #516D73;
}

.buttonStyleFour {
  height: 75px;
  width: 175px;
  background: #F29D52;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.buttonStyleFive {
  height: 75px;
  width: 275px;
  background: #F29D52;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.performanceButton {
  text-align: center;
}

.artistBioBackgroundPosition {
  display: block;
  text-align: center;
  width: 100%;
}

.artistBioBackground {
  height: 70vh;
  width: auto;
  background: #F29D52;
  position: relative;
}

.artistBioImage {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 150px 150px;
}

.artistStages {
  height: 10vh;
  width: 60%;
  display: inline-block;
  margin-top: -5vh;
  border-radius: 25px;
  background: #F2784B;
}

.artistBioText {
  height: 350px;
  overflow: scroll;
  font-family: "Open Sans";
  font-size: 15px;
  padding: 10px;
  color: #516D73;
}

.bigLoggerBackgroundPosition {
  margin: 20px 10px 20px 10px;
  padding: 20px 10px;
  display: block;
  text-align: center;
  width: 100%;
  overflow: scroll;
}

.bigLoggerBackground {
  background-image: url("../images/bigLoggerBackground.jpg");
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 70vh;
  width: auto;
  background-size: cover;
  padding: 10px;
  position: relative;
}

.cathedralBackgroundPosition {
  margin: 20px 10px 20px 10px;
  padding: 20px 10px;
  display: block;
  text-align: center;
  width: 100%;
  overflow: scroll;
}

.cathedralBackground {
  background-image: url("../images/cathedralBackground.jpg");
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  width: auto;
  height: 70vh;
  background-size: cover;
  padding: 10px;
  position: relative;
}

.duttyDiscoBackgroundPosition {
  margin: 20px 10px 20px 10px;
  padding: 20px 10px;
  display: block;
  text-align: center;
  width: 100%;
  overflow: scroll;
}

.duttyDiscoBackground {
  background-image: url("../images/duttyDiscoBackground.jpg");
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 70vh;
  width: auto;
  background-size: cover;
  padding: 10px;
  position: relative;
}

.smoothMooversPosition {
  margin: 20px 10px 20px 10px;
  padding: 20px 10px;
  display: block;
  text-align: center;
  width: 100%;
  overflow: scroll;
}

.smoothMooversBackground {
  background-image: url("../images/cathedralBackground.jpg");
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 70vh;
  width: auto;
  background-size: cover;
  padding: 10px;
  position: relative;
}

/*# sourceMappingURL=browser.css.map */
