.stage3 {
    // margin: 20px 10px 20px 10px;
    // padding: 20px 10px;
    display: block;
    text-align: center;
    width: 100%;
    overflow: scroll;
}

.stage3 {
    background-image: url('../images/cathedralBackground2.jpg');
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    padding: 10px;
    position: relative;
}