.banner {
    height: 10vh;
    background: $colourGreen;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navLink {
    display: flex;
    justify-content: flex-start;
}

.navLink img {
    width: 7vh;
    height: auto;
    fill: $colourYellow;
}

.navBurger {
    display: flex;
    justify-content: flex-end;
}

.navBurger img {
    width: 5vh;
    height: auto;
    fill: $colourYellow;
}

// for the landing page
.landingBanner {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}