.stageInfoBackgroundPosition {
    margin: 20px 10px 20px 10px;
    padding: 20px 10px;
    display: block;
    text-align: center;
    width: 100%;
    overflow: scroll;
}

.stageInfoBackground {
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    padding: 10px;
    position: relative;
}
